body{
	background-image: url("../photo/back1.jfif"); 
	background-size: cover;
}
img{

	 width: 250px;
	 height: 250px;
	 padding-bottom: 10px;
	 padding-right: 5px;
	

}
h1{
	padding-top: 20px;
	font-size: 40px;
	font-family: Forte; /*Algerian Castellar Jokerman  MV Boli Pristina*/
	text-decoration: underline; 
}

   p{
    	color: black;
    	font-size: 20px;
    	padding-left: 10px;
    }

	
.first{
	  margin-top: 10px;
}
    
.sec{
	margin-top: 10px;
	margin-left: 0px;

}       
.btn{
	  margin: 10px 10px 10px 10px;
	 
}          
   
 .linkimg{
 	height: 350px; 
 	width: 350px;

 }
 /* for styling the dropdown button */
 .dbutton {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 17px;
    border: groove;
    margin : 6px;
}

/* for positioning the content in dropdown  */
.dropdown {
    position: relative;
    display: inline-block;
    /*margin-left: 100px;*/

}
.temp{
    margin-left: 340px;
}
/* for content of dropdown */
.ddcontent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
}

/* for links inside the dropdown */
.ddcontent a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    
}

/* for Changing the color of links in dropdown  */
 .ddcontent a:hover {
  background-color: lightblue;
 }


/* for Showing the dropdown */
.dropdown:hover .ddcontent {
    display: block;
    margin-top: 51px;
    margin-left: 6px;
}

/* for Changing the color of dropdown when menu is displayed */
.dropdown:hover .dbutton {
    background-color: blue;
}